@import '../../styles/variables.scss';

.button {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
        background-color: $color-primary-dark;
    }
}