@import '../../styles/variables.scss';

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.6rem;
    text-align: center;
    padding: 3rem 2rem 2rem;
    
    &:not(:last-child) {
        box-shadow: $box-shadow-dark;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;

        &:nth-child(even) {
            flex-direction: column;
        }
    }

    &__image {
        width: 35%;

        @media only screen and (max-width: $bp-small) {
            width: 40%;
            margin-bottom: 2rem;
        }
    }

    &__right {
        flex: 1;

        &-heading {
            margin-bottom: 2rem;
        }

        &-description {
            margin-bottom: 2rem;
        }
    }
}