.category {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.6rem;
    text-align: center;
    padding: 20px;
    
    &:not(:last-child) {
        box-shadow: 0 10px 10px -10px #000;
    }

    &__image {
        width: 40%;
    }

    &__right {
        flex: 0.9;

        & > * {
            margin-bottom: 2rem;
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}