@import '../../styles/variables.scss';

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.6rem;
    text-align: center;
    padding: 20px;
    
    &:not(:last-child) {
        box-shadow: $box-shadow-dark;
    }

    &__image {
        width: 30%;

        @media only screen and (max-width: $bp-small) {
            width: 40%;
        }
    }

    &__right {
        flex: 1;

        & > * {
            margin-bottom: 2rem;
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}