@import '../../styles/variables.scss';

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.6rem;
    padding: 10px;
    width: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 1.5px dotted #000;

    & > *:not(:last-child) {
        margin-bottom: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $bp-small) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &-image {
            width: 70%;
            margin: auto;
            cursor: pointer;
            margin-bottom: 2rem;
    
            @media only screen and (max-width: $bp-small) {
                width: 40%;
                margin-bottom: 0;
                margin-right: 1.5rem;
            }
        }

        &-description {
            height: 100px;
            background-color: $color-grey-light-1;
            padding: 1rem;
            margin-bottom: 2rem;
            border-radius: 5px;

            @media only screen and (max-width: $bp-small) {
                height: auto;
            }
        }

        &-bottom {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &--price {
                font-weight: bold;
                margin-right: auto;
            }
        }
    }
}