$color-grey-light-1: rgba(0,0,0,0.2);
$color-grey-light-2: #aaa;

$color-primary: #e05269;
$color-primary-dark: #ad1f36;

$box-shadow-dark: 0 10px 10px -10px #000;

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 800px