@import "../../styles/variables.scss";

.modal {
    position: fixed;
    left: calc((100% - 40vw) / 2);
    z-index: 500;
    width: 40vw;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    transition: all 0.3s ease-out;

    @media only screen and (max-width: $bp-large) {
        width: 60vw;
        left: calc((100% - 60vw) / 2);
    }

    @media only screen and (max-width: $bp-medium) {
        width: 75vw;
        left: calc((100% - 75vw) / 2);
    }

    &__btn {
        position: absolute;
        right: 15px;
        top: 15px;
        font-weight: bold;
        font-size: 2rem;
        color: $color-grey-light-2;
        cursor: pointer;

        &:hover {
            color: $color-grey-light-3;
        }
    }
}

