@import '../../styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 13vw 0;
    box-shadow: 0 10px 10px -10px #000;

    @media only screen and (max-width: 62.5em) {
        padding: 5px 5px 0;
    }

    &__logo {
        width: 15rem;
    }

    &__nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex: .9;
        font-size: 1.7rem;
        
        &-link {
            font-weight: bold;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            &:hover {
                color: $color-primary;
            }

        }
    }
}

.cart__logo {
    width: 4rem;
    fill: red;
}