@import '../../styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 13vw 0;
    box-shadow: 0 10px 10px -10px #000;

    @media only screen and (max-width: $bp-large) {
        padding: 5px 5px 0;
    }

    &__logo {
        width: 15rem;

        // @media only screen and (max-width: $bp-medium) {
        //     width: 10rem;
        // }

        @media only screen and (max-width: $bp-small) {
            width: 10rem;
        }
    }

    &__nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex: .9;
        font-size: 1.7rem;

        @media only screen and (max-width: $bp-small) {
            justify-content: flex-end;
        }
        
        &-link {
            font-weight: bold;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            &:hover {
                color: $color-primary;
            }

        }
    }
}