@import "../../styles/variables.scss";

.sidebar {
    background-color: $color-grey-light-1;
    font-size: 1.7rem;
    flex: 0.25;

    @media only screen and (max-width: $bp-medium) {
        flex: 0.35;
    }

    &__item {
        list-style: none;
        padding: 15px;
        border-bottom: 1px solid #000;

        &:hover {
            background-color: $color-grey-light-2;
        }

        &.active {
            background-color: $color-grey-light-2;
        }
    }

    &-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary;
        color: #fff;
        font-size: 2rem;
        padding: 1.5rem 3rem;
        cursor: pointer;

        // &__icon {
        //     font-size: 3rem;
        // }
    }

    &-wrapper {
        background-color: #fff;
        position: absolute;
        z-index: 10;
        width: 100%;
    }
}