@import '../../styles/variables.scss';

.footer {
    background-color: $color-grey-light-1;
    height: 50px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}