@import '../../styles/variables.scss';

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    box-shadow: $box-shadow-dark;
    margin: 2rem 0 3rem;

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;
        padding: .7rem;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        border: none;
        z-index: 10;
        cursor: pointer;

        &-left {
            left: 5px;
        }

        &-right {
            right: 5px;
        }
    }

    &__img {
        width: 100%;
    }

    &__dots {
        position: absolute;
        bottom: 1rem;
        display: flex;
        align-items: center;

        & > div {
            height: .7rem;
            width: .7rem;
            border-radius: 50%;
            margin: auto 1.5rem;
            background-color: rgba(0,0,0,0.3);
        }
    }
}

.slider__dots > .dot-active {
    background-color: rgba(0,0,0,0.6);
}

.slide {
    opacity: 0;
    transition: 1s ease;

    &.active {
        opacity: 1;
        transition: 1s;
    }
}