@import '../../styles/variables.scss';

.slider {
    position: relative;
    box-shadow: $box-shadow-dark;
    margin: 2rem 0;

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;
        padding: .7rem;
        color: #fff;
        background-color: $color-grey-light-1;
        border: none;
        z-index: 10;
        cursor: pointer;

        &-left {
            left: 5px;
        }

        &-right {
            right: 5px;
        }
    }

    &__container {
        height: 27rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-large) {
            height: 25rem;
        }

        @media only screen and (max-width: $bp-medium) {
            height: 22rem;
        }

        @media only screen and (max-width: $bp-small) {
            height: 18rem;
        }

        &-banner {
            opacity: 0;
            transform: scale(.9, .9);

            &.active {
                opacity: 1;
                transform: scale(1, 1);
                transition: opacity .3s, transform .4s ease-in;
            }

            &--img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }

    &__dots {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
            height: .7rem;
            width: .7rem;
            border-radius: 50%;
            margin: auto 1.5rem;
            background-color: $color-grey-light-1;

            @media only screen and (max-width: $bp-medium) {
                margin: auto 1rem;
            }
        }

        & > .dot-active {
            background-color: rgba(0,0,0,0.6);
        }
    }
}